<html>
    <head>
        <title>
        TTC Service Site
        </title>
        
    </head>
    <body>
        <div id="banner">
            <img id="left-img" src="assets/images/ttc.jpg" />
            <h1>
            About the TTC
            </h1>
        
        </div>
        <div class="container card">
            <p>Since 1921 the Toronto Transit Commission has been proudly serving the residents of Toronto. And since that time the key principles of Service, Safety, Courtesy have been the cornerstones around which we have built our business.</p>
            
            <p>
            Long recognized for its safety record and its efficiency of service, the TTC is injecting renewed focus and vigour on the courtesy with which we treat our customers and the quality of the service we provide for them.</p> 

            <p>For most customers, public transit represents the fastest and most cost efficient way to move around Toronto. At the TTC this is about valuing both the quality and quantity of the time our customers spend with us. It’s our job to give you more time to spend how you want to and for the time you do spend with us to be as pleasant and hassle-free as possible.</p>
            
            <p>With new ways of communicating with our customers; new ways to build relationships with them; new projects to improve their experience; and new ways of measuring how we’re doing, we have never been more focused on the customers that use the TTC each and every day.</p>
        </div>
        
        <div id="buttons">
            <div id="corporate">
                <a id="button" href="http://www.ttc.ca/PDF/FINAL_700101_TTC%20Corporate%20Plan_ACC.pdf">
                5 Year Corporate Plan 2018-2022</a>            
            </div>
            <div id="charter">
                <a id="button" href="http://www.ttc.ca/Customer_Service/Customer_Charter/2018_charter.jsp">
                Customer Charter</a>
            </div>
            <div id="article">
                <a id="button"  href="http://www.ttc.ca/Customer_Service/Lost_articles.jsp">
                Lost Articles</a>
            </div>
            
        </div>
        
        <footer>
            <nav id="bottom-nav">
                <a>Contact Us</a>            
                <a>Privacy Policy</a>
                <a>Jobs</a>
            </nav>
        
            <p>TTC 2019</p>
        </footer>
    </body>

</html>
    