<html>
    <head>
        <title>TTC Map</title>
    </head>
    <body>
        <div id="banner">
            <img id="train" src="assets/images/train.jpg" />
            <h1> Subway Map for TTC</h1>
        </div>
        
        <!--<div class="map" background="map.jpeg"></div> -->
        <img id="map" src="assets/images/map.jpg">
        
        <footer>
            <nav id="bottom-nav">
                <a>Contact Us</a>            
                <a>Privacy Policy</a>
                <a>Jobs</a>
            </nav>
        
            <p>TTC 2019</p>
        </footer>
    
    </body>
    
    
</html>