footer{
    background: white;
    width:100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    border-top:solid 5px black;
    font-family: "Trebuchet MS";
    margin-top: 50px;
}

nav{
    background: #ff9966;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 2px black;
}

a{
    padding: 5px;
    color: black;
    font-family: Verdana;
}

