#banner{
    border: solid 5px black;
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    background: white;
    font-family: "Courier New"
}
h1{
    margin-top: 15px;
}


body{
    /* background: #56195c; */
    background-image: url("/assets/images/newspaper.jpg")

}

a{
    padding: 5px;
    color: black;
    font-family: Verdana;
}

nav{
    background: #ff9966;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 2px black;
}

table{
    background: white;
    border: solid 2px black;
    width: 100%;
}

td{
    
    border-bottom: solid 2px black;
    padding: 20px;
}

footer{
    background: white;
    width:100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    border-top:solid 5px black;
    font-family: "Trebuchet MS";
}

.curr-page{
    background: yellow;
}

.page-container{
    margin: 50px 100px 0px 100px;
    
    overflow-y: scroll;
    height: 500px;

    
}

#left-img{
    float:left;
    height: 100%
}

#contact{
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    background: white;
    width: 150px;
    padding: 5px 15px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 2px black; */
}

#twitter{
    width:100%;
    margin-right: 5px;
        
}

.hide{
    display: none;
}




@media only screen and (max-width: 640px){
    .page-container{
        font-size: 10px;
    }
    
}

td{
    width: 100%;
    transition: 0.3s;
}

td:hover{
    font-size: 20px;
}