   <body>
        <div id="banner">
            <img id="left-img" src="assets/images/ttc.jpg" />
            
            <h1>
            TTC News
            </h1>
        
        </div>
        
        <div class="page-container">
            <table>
                <tr class="row" *ngFor='let n of news'>
                    <td>
                        <p><b>Date: </b> {{ n.date }}</p>
                        <p><b>Author: </b>{{ n.author }}</p>
                        <p><b>Title: </b>{{ n.title }}</p>
                        
                    </td>
                </tr>
                
                
            </table>
            
            
        </div>
        
        <div id="contact" class="card">
            <p>Follow TTC Service Alerts for more news</p>
            <a href="https://twitter.com/TTCnotices">
                <img id="twitter" src="assets/images/twitter.png">
            </a>
        </div>
        
        
    </body>
