<!DOCTYPE html>
<html>
    <head>
        <title>
        TTC Service Site
        </title>
        
    </head>
    <body>
        <div id="banner">
            <img id="presto" src="assets/images/presto.png">
            <h1>
            TTC Prices
            </h1>
        
        </div>
        
        <div id="container">
            
            <h3>Tickets/tokens</h3>
            <table id="tickets">
                <tr>
                    <td class="first-col last-row">Adult</td>
                    <td>Ticket/token</td>
                    <td class="last-col ">$4.00</td>
                </tr>
                <tr class="last-row">
                    <td class="first-col last-row">Senior/Student</td>
                    <td class="last-row"></td>
                    <td class="last-col last-row">$3.25</td>
                </tr>
                
            </table>
            <h3>Passes</h3>
            
            <table id="passes">
                <tr>
                    <td class="first-col">Adult</td>
                    <td>Single day pass</td>
                    <td class="last-col">$15</td>                    
                </tr>
                <tr>
                    <td class="first-col"></td>
                    <td>Weekly pass</td>
                    <td class="last-col">$45</td>                    
                </tr>
                <tr>
                    <td class="first-col last-row"></td>
                    <td class="last-row">Monthly pass</td>
                    <td class="last-col last-row">$110</td>                    
                </tr>
                
                <tr>                
                    <td class="first-col">Senior/Student</td>
                    <td>Single day pass</td>
                    <td class="last-col">$10</td>                    
                </tr>
                <tr>
                    <td class="first-col"></td>
                    <td>Weekly pass</td>
                    <td class="last-col">$30</td>                    
                </tr>
                <tr>
                    <td class="first-col last-row"></td>
                    <td class="last-row">Monthly pass</td>
                    <td class="last-row last-col">$100</td>                    
                </tr>
                
                
            </table>
            
            <div id="note" class="card">
                <h4>Note</h4>
                <p>Children under 12 years old can ride for free.</p>
                <p>Students must show valid student identification upon request.</p>
                
            </div>
            
            <div id="buy" class="card">
                <a href="https://www.prestocard.ca/en/shopping/order-a-card">
                    Buy a Presto card 
                </a>
            
            </div>
        
        </div>
        
        <footer>
            <nav id="bottom-nav">
                <a>Contact Us</a>            
                <a>Privacy Policy</a>
                <a>Jobs</a>
            </nav>
        
            <p>TTC 2019</p>
        </footer>
    </body>
</html>