<!--
<!DOCTYPE html>
<html>
    <head>
        <title>
        TTC Service Site
        </title>
    </head>
    <body>
-->
        <div id="banner">
            <img id="left-img" src="assets/images/ttc.jpg" />
            <h1>
            TTC Home
            </h1>
        
        </div>
        <!-- <nav>
            
            <a class="curr-page" [routerLink]="['/Main']">Home</a>
            <a [routerLink] ="['/Map']">Map</a>
            <a [routerLink]="['/News']">News</a>
            <a [routerLink]="['/Shop']">Prices</a>            
            <a [routerLink]="['/About']">About</a>
            
            <a [routerLink]="['/Contact']" [class.hide]="admin">Contact</a>
            <a [routerLink]="['/PostNews']" [class.hide]="!admin">Contact</a>
            <a [routerLink]="['/Inquiries']" [class.hide]="!admin">Contact</a>            

            <a [routerLink]="['/Login']" [class.hide]="loggedIn">Login</a>            
            <a [routerLink]="['/Register']" [class.hide]="loggedIn">Register</a>            
             
            
        </nav> -->
        <div class="page-container">
            <!-- <div class="col col2 box"> -->
            <div class="table-left">
                <table class="left">
                    <tr class="row">
                        <th>
                            <p><b><u>Train Arrivals:</u></b></p>
                            <br />
                            <p>St. Andrew</p>
                        </th>
                    </tr>
                    <tr class="row">
                        <td class="data">
                            <p><u>Line 1</u></p>
                            <br />
                            <p><b>Northbound:</b> 2 mins</p>
                            <br />
                            <p><b>Southbound:</b> 1 min</p>
                        </td>
                    </tr>
                    
                    <tr id="blank-row"><td><br /></td></tr>
                    <tr id="blank-row"><td><br /></td></tr>
                    <tr id="blank-row"><td><br /></td></tr>
                    
                    <tr class="row">
                        <th>
                            <p><b><u>Bus Arrivals:</u></b></p>
                            <br />
                            <p>St. Andrew</p>
                        </th>
                    </tr>
                    <tr class="row">
                        <td class="data">
                            <p><b>253 Union: </b> 17 mins</p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="data">
                            <p><b>146 Humber: </b> 5 mins</p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="data">
                            <p><b>90 Bay: </b> Due</p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="data">
                            <p><b>4A Yorkdale: </b> 40 mins</p>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="data"> 
                            <p><b>56 Square One: </b> 50 mins</p>
                        </td>
                    </tr>
                </table>
            </div>
        
            <!-- <div class="col col8 last-col box"> -->
            <div class="right">
                <table class="right-tbl">
                    <tr>
                        <th>
                            <p><b><u>Latest News:</u></b></p>
                        </th>
                    </tr>
                    <!-- Add 3 latest news data here
                     -->
                    <!-- <tr ng-repeat="n in news | limitTo : 3" class="row"> -->
                      
                    <tr *ngFor="let n of news" class="row">
                        <td class="data">
                          <p>{{ n.date }}</p>
                          <p>{{ n.author}}</p>
                          <p>{{ n.title }}</p>
  
                        </td>
                      </tr>
                </table>   
                
                <div id="pictures" class="card">
                    <!-- <img id="bus" src="bus.jpg" />
                    <img id="train" src="train.jpg" /> -->
                    <!-- <img id="bus" src="http://localhost:4200/../Users/Alex.Ly/Documents/project-pug/bus.jpg" /> -->
                    <img id="bus" src="http://localhost:4200/assets/images/bus.jpg" class="card"/>
                    
                    <img id="train" src="assets/images/train.jpg" class="card"/>
                </div>
        

            </div>
            

        
        </div>
        
        <footer>
            <nav id="bottom-nav">
                <a>Contact Us</a>            
                <a>Privacy Policy</a>
                <a>Jobs</a>
            </nav>
        
            <p>TTC 2019</p>
        </footer>
<!--
    </body>

</html>
-->
