
<!-- <!DOCTYPE html>
<html> -->
    <body>

        <div id="banner">
            <img id="left-img" src="assets/images/ttc.jpg" />
            <h1>
            TTC Home
            </h1>
        
        </div>
         
        <!-- <div class="page-container">
            <div class="table-left">
                <div class="left">
                    <div class="row">
                        <div id="h" class="card">
                            <p><b>Train Arrivals:</b></p>
                            <br />
                            <p>St. Andrew</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="data card">
                            <p><b>Line 1</b></p>
                            <br />
                            <p><b>Northbound:</b> 2 mins</p>
                            <br />
                            <p><b>Southbound:</b> 1 min</p>
                        </div>
                    </div>
                    
                    <div id="blank-row"><div><br /></div></div>
                    <div id="blank-row"><div><br /></div></div>
                    <div id="blank-row"><div><br /></div></div>
                    
                    <div class="row">
                        <div id="h" class="card">
                            <p><b><u>Bus Arrivals:</u></b></p>
                            <br />
                            <p>St. Andrew</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="data card">
                            <p><b>253 Union: </b> 17 mins</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="data card">
                            <p><b>146 Humber: </b> 5 mins</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="data card">
                            <p><b>90 Bay: </b> Due</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="data card">
                            <p><b>4A Yorkdale: </b> 40 mins</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="data card"> 
                            <p><b>56 Square One: </b> 50 mins</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="right">
                <div class="right-tbl">
                    <div>
                        <div class="card l">
                            <h2>Latest News</h2>
                        </div>
                    </div>
                      
                    <div *ngFor="let n of news" class="row">
                        <div class="data card">
                          <p><b>Date:</b> {{ n.date }}</p>
                          <p><b>Author:</b> {{ n.author}}</p>
                          <p><b>Title:</b> {{ n.title }}</p>
  
                        </div>
                    </div>
                </div>   
                
                <div id="pictures" class="card">
                    <img id="bus" src="http://localhost:4200/assets/images/bus.jpg" class="card"/>
                    
                    <img id="train" src="assets/images/train.jpg" class="card"/>
                </div>
        

            </div>
            

        
        </div>
         -->

        <!-- Page Content -->
<div class="container">

        
        <div class="row">
          <div class="col-lg-4 mb-4 h-100">
                <div class="table-left">
                        <div class="left card" id="lt">
                            <div class="row">
                                <div id="h" class="card-header">
                                    <p><b>Train Arrivals:</b></p>
                                    <br />
                                    <p>St. Andrew</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="data card">
                                    <p><b>Line 1</b></p>
                                    <br />
                                    <p><b>Northbound:</b> 2 mins</p>
                                    <br />
                                    <p><b>Southbound:</b> 1 min</p>
                                </div>
                            </div>
                        </div>
                            
                            <div id="blank-row"><div><br /></div></div>
                            <div id="blank-row"><div><br /></div></div>
                            <div id="blank-row"><div><br /></div></div>
                        <div class="left card" id="lt">
                            
                            <div class="row">
                                <div id="h" class="card-header">
                                    <p><b><u>Bus Arrivals:</u></b></p>
                                    <br />
                                    <p>St. Andrew</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="data card">
                                    <p><b>253 Union: </b> 17 mins</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="data card">
                                    <p><b>146 Humber: </b> 5 mins</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="data card">
                                    <p><b>90 Bay: </b> Due</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="data card">
                                    <p><b>4A Yorkdale: </b> 40 mins</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="data card"> 
                                    <p><b>56 Square One: </b> 50 mins</p>
                                </div>
                            </div>
                        </div>
                    </div>

          </div>

          <div class="col-lg-6 mb-4 offset-md-2">
                    <div class="right-tbl card">
                            <div>
                                <div class="card-header l">
                                    <h2>Latest News</h2>
                                </div>
                            </div>
                              
                            <div *ngFor="let n of news" class="row card" id='article'>
                                <div class="card-body">
                                  <p><b>Date:</b> {{ n.date }}</p>
                                  <p><b>Author:</b> {{ n.author}}</p>
                                  <p><b>Title:</b> {{ n.title }}</p>
          
                                </div>
                            </div>
                        </div>   
                        
            <!-- </div> -->
          </div>
          
        
      </div>
      </div>


    </body>

<!-- </html> -->
