<!-- <div id="banner">
    <img src="assets/images/ttc.jpg" alt="ttc" id="left-img"/>
    <h1>Register</h1>
</div>
      
<div *ngIf="invalidLogin" class="alert alert-danger">Invalid credentials.</div>
  
<form class="form-signin" #f="ngForm" (ngSubmit)="register(f.value)">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" ngModel class="form-control" required minlength="1">
    <br />
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" placeholder="First Name" ngModel class="form-control" required minlength="1">
    <br />
    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surname" placeholder="Surname" ngModel class="form-control" required minlength="1">
    <br />
    <label for="type">User type</label>
    <select class="form-control" id="type" [(ngModel)]="type" (change)="checkAdmin()"  name="type" required>
        <option>Admin</option>
        <div class="dropdown-divider"></div>
        <option>Rider</option>
        
    </select>
    <div *ngIf="admin" id="admin">
        <br />
        <label for="adminPass">Confirm Admin</label>
        <input type="password" name="adminPass" id="adminPass" placeholder="Admin Password" ngModel class="form-control" required minlength="1">                    
    </div>
    <br />
    
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" ngModel class="form-control" required minlength="1">
    <br />
    <label for="password2">Retype password</label>
    <input type="password" name="password2" id="password2" placeholder="Confirm password" ngModel class="form-control">
    <br />
    
    
    <button id="registerBtn" class="btn btn-primary" type="submit" [disabled]="invalidLogin">Register</button>
</form> -->

<body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Register</h5>
                  <form class="form-signin" #f="ngForm" (ngSubmit)="register(f.value)">
                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid credentials.</div>
    
                    <div class="form-label-group">
                        <input type="text" id="username" name="username" ngModel class="form-control" placeholder="Username" required autofocus>
                        <label for="username">Username</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="firstName" name="firstName" ngModel class="form-control" placeholder="First Name" required>
                        <label for="firstName">First Name</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="surname" name="surname" ngModel class="form-control" placeholder="Surname" required>
                        <label for="surname">Surname</label>
                    </div>
                    

                    <label for="type">User type</label>
                    <select class="form-control form-label-group" id="type" [(ngModel)]="type" (change)="checkAdmin()"  name="type" required>
                            <!-- <label for="type">User type</label> -->
                        <option>Admin</option>
                        <div class="dropdown-divider"></div>
                        <option>Rider</option>
                        
                    </select>
                    <div *ngIf="admin" id="admin">
                        <div class="form-label-group">
                            <input type="password" id="adminPass" name="adminPass" ngModel class="form-control" placeholder="Admin Password" required>
                            <label for="adminPass">Confirm Admin</label>
                        </div>        
                    </div>
      
                    <div class="form-label-group">
                      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
                      <label for="password">Password</label>
                    </div>
                    <div class="form-label-group">
                      <input type="password" id="password2" name="password2" ngModel class="form-control" placeholder="Password" required>
                      <label for="password2">Re-enter Password</label>
                    </div>
      
      
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </body>