form{
    margin: 0px 20px 50px 20px;
}

#left-img{
    float:left;
    height: 100%
}

#banner{
    border: solid 5px black;
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    background: white;
    font-family: "Courier New"
}

body{
    background: #990000;
}

#admin{
    margin-left: 50px;
}

form{
    width:50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    
}


h1{
    margin-top: 15px;
}
